---
import Modal from "./Modal.astro";
import SummaryButton from "./SummaryButton.astro";
---

<nav>
  <Modal />
  <SummaryButton />
</nav>

<style>
  nav {
    @apply flex place-content-center place-items-start;
  }
</style>

<script>
  const summaryButton = document.getElementById("summary_btn");
  const summaryHtmlElement = document.getElementById("summary");
  const closeSummaryButton = document.getElementById("close_btn");

  if (!summaryButton) throw new Error("Summary button not found!");
  if (!summaryHtmlElement) throw new Error("Summary modal not found!");
  if (!closeSummaryButton) throw new Error("Summary close button not found!");
  if (!(summaryHtmlElement instanceof HTMLDialogElement)) throw new Error("Element must be a <dialog>");

  summaryButton.addEventListener("click", () => {
    summaryHtmlElement.showModal();
    summaryHtmlElement.scrollTop = 0;
  });

  closeSummaryButton.addEventListener("click", () => {
    summaryHtmlElement.close();
  });

  window.addEventListener("click", (event) => {
    if (event.target && event.target === summaryHtmlElement) summaryHtmlElement.close();
  });
</script>
