---
import Modal from "./Modal.astro";
import SummaryButton from "./SummaryButton.astro";
---

<nav>
  <Modal />
  <SummaryButton />
</nav>

<style>
  nav {
    @apply flex justify-center;
  }
</style>

<script>
  const summaryButton = document.getElementById("summary_btn");
  const modal = document.getElementById("summary");
  const closeButton = document.getElementById("close_btn");

  if (!summaryButton) throw new Error("Summary button not found!");
  if (!modal) throw new Error("Summary modal not found!");
  if (!closeButton) throw new Error("Summary close button not found!");
  if (!(modal instanceof HTMLDialogElement)) throw new Error("Element must be a <dialog>");

  summaryButton.addEventListener("click", () => {
    modal.showModal();
    modal.scrollTop = 0;
  });

  closeButton.addEventListener("click", () => {
    modal.close();
  });

  window.addEventListener("click", (event) => {
    if (event.target && event.target === modal) modal.close();
  });
</script>
