---
import Avatar from "./Avatar.astro";
import Social from "./Social.astro";
---

<section>
  <div class="about">
    <h2>#autor:</h2>
    <p>
      Adriano Abbade nasceu em Marabá (PA), em 1998. É poeta, escritor e jornalista. Tem poemas publicados nas revistas literárias Caliban e
      Malamargens: Revista de Poesia e Arte Contemporânea. Participouda antologia Parem as Máquinas (Selo Off Flip 2020). transversais é o seu livro
      de estreia. Vive em Belém
    </p>
  </div>
  <Avatar imagePath="/images/autor.webp" alt="Avatar do autor" />
  <div class="contact">
    <h2>#contato</h2>
    <Social />
  </div>
</section>

<style>
  section {
    display: grid;
    grid-template-rows: 1fr auto auto;
    gap: 2rem;
    margin-bottom: 1rem;
    justify-items: center;
  }

  .about {
    grid-row: 1;
    padding: 1rem;
  }

  .contact {
    grid-row: 3;
    place-self: start;
    padding: 1rem;
  }

  p {
    text-align: justify;
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  h2 {
    font-size: 1.8rem;
  }
</style>
