---
import Section from "../../layout/Section.astro";
---

<Section title="sobre o livro" style="col-start-1 max-h-[180px]">
  <p>
    Obra premiada no concurso literário “Bruno de Menezes”, vinculado à programação oficial da I Bienal de Artes de Belém – Afirmação de Direitos –
    Ano 2022.
  </p>
</Section>
