---
import Layout from "../layout/Layout.astro";
import { CollectionEntry, getCollection } from "astro:content";

type Props = {
  entry: CollectionEntry<"poems">;
};
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const poemsEntries = await getCollection("poems");
  return poemsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
  <main>
    <div>
      <Content />
    </div>
  </main>
</Layout>

<style>
  main {
    @apply h-full w-full overflow-y-auto;
    @apply col-span-full col-start-1;
    @apply flex flex-col;
  }

  main div {
    @apply max-w-4xl mx-auto;
  }
</style>
