---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <main>
    <div>
      <img class="cover" src="/images/cover.png" alt="imagem de capa" />
      <div class="section_grid">
        <section id="about_book" title="sobre o livro">
          <header class="title_wrapper">
            <img class="hashtag" src="/icons/hashtag.svg" alt="hashtag" />
            <h2 class="title">SOBRE O LIVRO</h2>
          </header>
          <article>
            <p>
              Obra premiada no concurso literário “Bruno de Menezes”, vinculado à programação oficial da I Bienal de Artes de Belém – Afirmação de
              Direitos – Ano 2022.
            </p>
          </article>
        </section>
        <section id="about_author" title="sobre o autor">
          <header class="title_wrapper">
            <img class="hashtag" src="/icons/hashtag.svg" alt="hashtag" />
            <h2 class="title">SOBRE O AUTOR</h2>
          </header>
          <article>
            <p>
              Adriano Abbade nasceu em Marába (PA), em 1988. É poeta, escritor e jornalista. Tem poemas publicados nas revistas literárias Caliban e
              Malamargens: Revista de Poesia e Arte Contemporânea. Participou da antologia Parem as Máquinas (Selo Off Flip 2020). transversais é seu
              livro de estreia. Vive em Belém.
            </p>
          </article>
        </section>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    @apply h-full w-full overflow-y-auto;
    @apply col-span-full col-start-1;
    @apply flex flex-col;
  }

  main div {
    @apply max-w-4xl mx-auto;
  }

  section {
    @apply p-2;
  }

  .cover {
    @apply object-cover drop-shadow-2xl lg:rounded row-span-2 lg:p-5 h-[350px] w-screen;
  }

  .section_grid {
    @apply grid grid-cols-2 grid-rows-2;
  }

  #about_book {
    @apply col-span-2 w-full;
  }

  section {
    @apply mx-auto flex flex-col gap-5 p-5 mb-5;
  }

  section article p {
    @apply text-xl;
  }

  .title_wrapper {
    @apply flex place-content-start place-items-center;
  }

  .hashtag {
    @apply h-12 w-12 object-cover;
  }

  .title {
    @apply text-3xl font-bold;
  }
</style>
