---
---

<nav role="navigation" aria-label="links de navegação">
  <a title="sobre" href="/">sobre o autor</a>
  <a title="sumario" href="/">sumário</a>
</nav>

<style>
  nav {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }

  nav a {
    margin: 0 1rem;
    padding: 0.5rem 0.8rem;
    background: #c8c4c4;
    border: solid 0rem #c6b7b7;
    border-radius: 0.3rem;
    box-shadow: 0.5rem 0.5rem 0px #3c3c3c;
  }

  nav a:hover {
    box-shadow: 0.5rem 0.5rem 0px #ff0000;
  }

  @media screen and (min-width: 800px) {
    nav {
      display: none;
    }
  }
</style>
