<header>
  <h1>transversais</h1>
  <p>adriano abbade</p>
</header>

<style>
  header {
    @apply pt-14 pb-7;
    @apply flex flex-col text-center;
    @apply border-b border-b-slate-950;
  }
  header h1 {
    font-family: ATW-Regular;

    @apply text-5xl sm:text-6xl font-extrabold;
    @apply text-slate-700;
  }

  header p {
    font-family: Georgia, "Times New Roman", Times, serif;
    @apply mt-[-5px] sm:mt-[-10px] pb-3;
    @apply text-xl sm:text-2xl;
  }
</style>
