<div>
  <h1>transversais</h1>
  <p>adriano abbade</p>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;

    color: #3d312c;
    width: 100vw;
  }

  div h1 {
    font-family: "AmericanTW";
    padding: 0.8rem;
    font-size: 3rem;
    font-weight: 800;
  }

  div p {
    margin-top: -20px;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
  }

  @font-face {
    font-family: "AmericanTW";
    src: url("/fonts/america-typewritter-regular.ttf");
  }
</style>
