<div>
  <img src="/images/cover.png" alt="imagem de capa" />
</div>

<style>
  div {
    width: 100vw;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  div img {
    max-width: 100%;
    min-height: 20rem;
    object-fit: cover;
  }
</style>
