<header>
  <h1>transversais</h1>
  <p>adriano abbade</p>
</header>

<style>
  @font-face {
    font-family: ATWRegular;
    src: url("/fonts/america-typewritter-regular.woff") format("woff");
  }

  header {
    @apply row-span-1 col-span-full;
    @apply flex gap-5 items-center border-b border-b-stone-800 shadow-lg p-4;
  }

  header h1 {
    font-family: ATWRegular;
    @apply text-5xl;
  }

  header p {
    @apply text-xl;
  }
</style>
