<section>
  <img src="/images/logobienal.png" alt="logo Bienal das Artes de Belém" />
  <img src="/images/apoio.png" alt="apoio e realização" />
  <img src="/images/logoprefeitura.png" alt="logo prefeitura de Belém" />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
  }

  section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
