<footer>
  <p>Adriano Abbade - Todos os direitos reservados - 2023</p>
</footer>

<style>
  footer {
    grid-row: 3;
    max-height: 20vh;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
  }
</style>
