---
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header/Header.astro";
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="transversais: livro de poesias do autor paraense adriano abbade" />
    <title>transversais</title>
  </head>
  <body>
    <Header />

    <slot />

    <Footer />
  </body>
</html>

<style is:global>
  @import "../styles/reset.css";
  @import "../styles/fonts.css";
</style>
