---
import Header from "../components/Header/Header.astro";

type Props = {
  title?: string;
};

const { title = "transversais" } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="/icons/favicon.svg" />

    <title>{title}</title>
  </head>
  <body>
    <div class="container mx-auto">
      <Header />
      <main>
        <slot />
      </main>
      <footer></footer>
    </div>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: ATW-Regular;
    src: url("/fonts/america-typewritter-regular.woff") format("woff");
  }

  @font-face {
    font-family: ATW-Light;
    src: url("/fonts/american-typewritter-light.woff") format("woff");
  }

  body {
    @apply bg-neutral-200;
  }
</style>
